.main {
  width: 100%;
  max-width: 1400px;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 100px;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
