.itemCard {
  display: flex;
  flex-direction: column;
  background-color: #141414;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  transition: all 400ms ease;
}

.itemCard:hover {
  transform: translateY(-3%);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
}

.itemCard:hover .itemCard__btn img {
  outline: 2px solid #fa9eb5;
}

.itemCard:hover .itemCard__info {
  opacity: 1;
  visibility: visible;
  top: 68%;
  transition: all 0.5s ease-in-out;
}

.itemCard__info {
  height: 100px;
  padding: 5px;
  position: absolute;
  top: 70%;
  left: 0;
  width: 100%;
  background-color: rgb(20, 20, 20, 0.8);
  opacity: 0;
  visibility: hidden;
}

.itemCard__btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.itemCard__btn button {
  background-color: transparent;
  border: none;
  position: relative;
}

.itemCard__btn img {
  width: 100%;
  max-height: 300.19px;
  cursor: pointer;
}

.itemCard__btn:hover .detail {
  opacity: 1;
  visibility: visible;
}

.itemCard .detail {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25%;
  background-color: rgba(49, 46, 46, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fa9eb5;
  opacity: 0;
  visibility: hidden;
  pointer-events: visible;
  transition: visibility 0.5s, opacity 0.5s;
}

.btnDetail {
  text-decoration: none;
  font-family: "Figtree", sans-serif;
  color: #fa9eb5;
}

.itemCard__title {
  font-family: "Figtree", sans-serif;
  font-size: 0.8em;
  color: #fa9eb5;
}

.itemCard__description {
  color: white;
  margin-bottom: 20px;
  font-size: 0.8em;
}

.itemCard__description i {
  margin-right: 5px;
  color: yellow;
}

.itemCard__price {
  color: antiquewhite;
  font-size: 0.8em;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

@media screen and (max-width: 430px) {
  .itemCard {
    width: 150px;
  }
}
