.navBar {
  width: 100%;
  margin-bottom: 60px;
  position: fixed;
  z-index: 99;
  background-color: #000000;
  box-shadow: 10px 0 20px #000000;
}

.navBar__container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBar__menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: auto;
}

.navBar__menu li a {
  padding: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1em;
  color: #fa9eb5;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.navBar__menu li:hover a {
  color: #f7c7d3;
  text-decoration: underline;
}
