.counter {
  width: 250px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.counter__controls {
  display: flex;
  align-items: center;
  margin: 10px auto;
}

.counter__controlsbtn {
  padding: 3px 10px;
  background-color: #4e4b4c;
  border: none;
  border-radius: 3px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  color: #ffffff;
  cursor: pointer;
}

label {
  background-color: transparent;
  background-color: #302d2d;
  padding: 3px 30px;
  margin: 0 15px;
  color: #fff;
  font-size: 1.2em;
}

.counter__controlsbtn--agregar {
  background-color: #1b1a1a;
}

.counter__controlsbtn--agregar:hover {
  background-color: #4e4b4c;
}
