.cardContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.loadingText {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1em;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}
