.cardContainer {
  display: grid;
  width: 100%;
  height: 100%;
  gap: 1rem;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
}

@media screen and (max-width: 425px) {
  .cardContainer {
    width: 60%;
  }
}
