.cardContainer {
  display: grid;
  width: 100%;
  height: 100%;
  gap: 1rem;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  margin-bottom: 40px;
}

@media screen and (max-width: 1400px) {
  .cardContainer {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 40px;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    justify-items: center;
  }
}
